* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #003053;
}
body {
    float: center;
    background-position: center;
    padding: 0px;
    background-color: #367eb3;
  }

main {
    padding: 150px;
}
header {
    height: 50px;
    background-color: #4db1ef;
}
header h1 {
    float: center;
    padding: 10px 15px;
}
header h1 a:hover {
    color: #4db1ef;
}
header ul {
    float: center;
}
header ul li a:hover {
    color: #4db1ef;
}


#profile header,
h2,
figure,
img {
    text-align: center;
    margin: 20px;
}
#profile img {
    float: center;
    width: 100px;
}
#content {
    float: center;
    width: 100%;
}
footer {
    padding: 20px;
    background-color: #4db1ef;
    text-align: center;
    font-weight: bold;
}
@media screen and (max-width: px) {
    #content,
    aside {
        width: 10%;
        padding: 0;
    }
}
